.JobTypes {
  position: absolute;
  top: 14rem;
  right: 10rem;
  width: fit-content;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2ps solid black;
  background-color: #646362;
  color: #edecec;
  padding: 0.1rem 0 0.1rem 0.5rem;
  cursor: pointer;
}

label{
 padding:0 2.5rem 0 0;
}

input[type="checkbox"]{
  height:15px;
  width:15px;
  border:none;
  outline-style: none;
  background-color: #646362;
  visibility: hidden;
}

input[type="checkbox"]:checked{
  background-color: #646362;
  height:15px;
  width:15px;
  border:none;
  outline-style: none;
  visibility: visible;
}